.layout{
    width: 100%;
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: 40px auto;
    grid-template-areas:
    "titlebar titlebar"
    "sidebar main";
}